.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0;
  .wrapper_input {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    .label {
      font-size: 14px;
      font-weight: 400;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
    .input {
      padding: 0.5rem 1rem;
      width: 265px;
      &:focus {
        outline: 1px solid blue;
        box-shadow: 0 0 1px blue;
      }
      &::placeholder {
        font-size: 20px;
      }
    }
  }
  .wrapper_error {
    display: flex;
    justify-content: end;
    color: red;
    font-weight: 400;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    margin: 0.5rem 0 0 0;
  }
}
