.wrapper{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0.5rem 0;
   width: 500px;
   .controller{
      display: flex;
      justify-content: space-between;
      .label{
         display: flex;
         align-items: center;
         padding: 0 1rem 0 0;
      }
      .select{
         width: 300px;
      }
   }
   .error{
      display: flex;
      justify-content: end;
      color: red;
      font-weight: 400;
      font-size: 14px;
      font-family: "Courier New", Courier, monospace;
      margin: 0.5rem 0 0 0;
   }
}